label {
    margin-top: 20px;
    font-weight: 200;
    letter-spacing: 0.5em;
    color: black;
    text-align: center;
    animation: pulse 1s ease-out;
}

input, small {
    animation: pulse 1s ease-out;
}

#submitButton {
    border: none;
    background-color: #56baed;
    color: white;
    padding:5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    animation: pulse 1s ease-out;
}

#submitButton:hover {
    color:white;
    background-color: #39ace7;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
  }