<form>
    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" pattern="^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&+=.]).*$" required [(ngModel)]="newPassword" placeholder="Password" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Password does not meet requirements' : ''); if(this.checkValidity()) form.confirmPassword.pattern = this.value;">
        <small id="passwordHelp" class="form-text text-muted">Passwords need at least 8 characters, one uppercase character, lowercase character, digit, symbol, and no whitespaces</small>
    
    </div>
        <div class="form-group col-md-6">
            <label for="password">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" [(ngModel)]="confirmPass" onchange="this.reportValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" required>
        </div>
    </div>
    <button id="submitButton" (click)="resetPassword()" class="btn btn-success">Update</button>
  </form>
