tr:hover {
    background-color: #56baed;
    color: white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

h1 {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color: black;
    text-align: center;
    animation: pulse 1s ease-out;
  }

  table {
      animation: pulse 1s ease-out;
  }

  @keyframes pulse {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
  }