<div id="trade-id-group">
    <h1 id="trade-id">Trade: </h1>
</div>

<div id="loading">
    <p>Loading...</p>
</div>

<table id="details" hidden>
    <tr>
        <th>Type</th>
        <td id="trade-type">data</td>
    </tr>
    <tr>
        <th>Date</th>
        <td id="date">data</td>
    </tr>
    <tr>
        <th>User ID</th>
        <td id="user-id">data</td>
    </tr>
    <tr>
        <th>Currency From</th>
        <td id="currency-from">data</td>
    </tr>
    <tr>
        <th>Currency To</th>
        <td id="currency-to">data</td>
    </tr>
    <tr>
        <th>Lot Size</th>
        <td id="lot-size">data</td>
    </tr>
    <tr>
        <th>Volume</th>
        <td id="volume">data</td>
    </tr>
    <tr>
        <th>Profit</th>
        <td id="profit">data</td>
    </tr>
</table>

<div id="help" hidden>
    <p>If you have any questions about trade information, contact our support team at xxx-xxx-xxxx.</p>
</div>

<div id="error" hidden>
    <p>Trade does not exist. If you have any questions, contact our support team at xxx-xxx-xxxx.</p>
</div>