<div>
    <div class="text-center bm-5 background">
        <h1><u>Trader Information</u></h1>
    <div class="row">
        <div class="col-sm-4">
          <h6 class="mb-0 float-right">Id :</h6>
        </div>
        <div class="col-sm-8">
            {{user.user_id}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <h6 class="mb-0 float-right">First Name :</h6>
        </div>
        <div class="col-sm-8">
            {{user.first_name}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <h6 class="mb-0 float-right">Last Name :</h6>
        </div>
        <div class="col-sm-8">
            {{user.last_name}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <h6 class="mb-0 float-right">Email :</h6>
        </div>
        <div class="col-sm-8">
            {{user.email}}
        </div>
    </div>
    </div>
    <div class="background">
        <ng-template></ng-template><app-trade-history></app-trade-history>
    </div>
    
</div>