<!-- Welcome to the platform! -->

<body>
  <header class="header">
    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">FX Trading Platform</span>
        </h1>
    </div>
  </header>
</body>

<!-- <div class="container mt-5">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <img src="../../assets/home.png" width="auto" class="center-block">
    </div>
  </div>
</div> -->

<!-- <nav class="navbar  navbar-expand-sm navbar-light ">
  <a class="navbar-brand" href="home">
    <img src="../../assets/logo.png" width="auto" height="100" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="register">Register</a>
      </li>
      <li class="nav-item active">
        <div *ngIf="!(isLoggedIn | async)">
          <a class="nav-link" href="/login">Login</a>
        </div>
        <div *ngIf="(isLoggedIn | async)">
          <a class = "nav-link" href="/home" (click)="logOut()">LogOut</a>
        </div>
    </ul>
  </div>
</nav> -->
